@model BasicWebApp.Models.db.Passenger

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Passenger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassId)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PassId }) |
    <a asp-action="Index">Back to List</a>
</div>
